.transaction_history {
    text-align: center;
    background-color: rgb(228, 228, 228);
    width: 475px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    color: rgb(65, 65, 65);
}

.transaction_head {
    height: 40px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(102, 201, 240);
}